### Neural Nets

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv("Bank_Personal_Loan_Modelling-Copy1.csv")

In [3]:
df['Experience'] = abs(df['Experience'])

In [4]:
df['target'] = df['Personal Loan']
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,target
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,0

In [5]:
df.drop('ID',axis=1,inplace=True)
df.drop('ZIP Code',axis=1,inplace=True)
df.drop('Personal Loan',axis=1,inplace=True)

In [6]:
x = df.iloc[:,:-1].values
y= df.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.3,random_state =0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [10]:
from tensorflow import keras
from tensorflow.keras import layers
import tensorflow as tf
from keras.models import Sequential

In [ ]:
inputs = keras.Input(shape=(11,),name = 'input_l')

dense = layers.Dense(4, activation="relu" , name = 'hidden_l')
x = dense(inputs) #hidden layer 1

dense2 = layers.Dense(1, activation="sigmoid" , name = 'output_l')
outputs = dense2(x)

model = keras.Model(inputs=inputs, outputs=outputs)

In [ ]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.003),
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=[tf.keras.metrics.BinaryAccuracy()])

In [ ]:
chrom1=[]
chrom2=[]
chrom3=[]
chrom4=[]
chrom5=[]
chrom6=[]

chromosome_list= [chrom1,chrom2,chrom3,chrom4,chrom5,chrom6]

In [ ]:
for i in range(6):
    model.fit(x_train, y_train, epochs=20, batch_size=20,verbose=0)
    c=0
    
    for layer in model.layers:
        if c==1:
            chromosome_list[i] = layer.get_weights() 
        c+=1

In [ ]:
ch1=chromosome_list[0][0]
ch2=chromosome_list[1][0]
ch3=chromosome_list[2][0]
ch4=chromosome_list[3][0]
ch5=chromosome_list[4][0]
ch6=chromosome_list[5][0]

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
fit_score=[]
chrom_list=['ch1','ch2','ch3','ch4','ch5','ch6']
chrom_dict = {'ch1':ch1,'ch2':ch2,'ch3':ch3,'ch4':ch4,'ch5':ch5,'ch6':ch6}

In [ ]:
def fitness(ch,model,x_test,y_test):

    c=0
    for layer in model.layers:        
        if c==1:
            bias = layer.get_weights()[1]
            layer.set_weights([ch,bias])
        c+=1
    
    y_pred = model.predict(x_test, batch_size=20)
    y_pred = np.where(y_pred>=0.5,1,0)
    
    print(accuracy_score(y_pred,y_test))
    fitness_score.append([accuracy_score(y_pred,y_test),ch_list[i]])

In [ ]:
ch=[ch1,ch2,ch3,ch4,ch5,ch6]

In [ ]:
def crossover(arr1,arr2):
    
    crossover_point = 4
    child1 = np.concatenate([arr1[:crossover_point],arr2[crossover_point:11]])
    child2 = np.concatenate([arr2[:crossover_point],arr1[crossover_point:11]])
    return child1,child2

In [ ]:

def mutate(child1,child2):
    m1 = np.random.uniform(0,1,4)
    m2 = np.random.uniform(0,1,4)
    mut_point = random.randint(0,11)
    
    child1_mut = child1
    child2_mut = child2
    
    child1_mut[mut_point]=m1
    child2_mut[mut_point]=m2
    
    return child1,child1_mut,child2,child2_mut

In [ ]:
child1,child1_mut,child2,child2_mut = mutate(child1,child2)
child_list = [child1,child1_mut,child2,child2_mut]

In [ ]:
def repop(child_list,ch_dict,fitness_score,ch):
    fitness_score.sort(key = lambda x:x[0],reverse = False)
    
    for i in range(4):
        ch_dict[score[i][1]]=child_list[i]
    ch = ch_dict.values()

In [ ]:
total_gen = 6

while(total_gen>0):
    
    for i in range(6):
        fitness(ch[i],model,x_test,y_test)
    fitness_score.sort(key = lambda x:x[0],reverse = True) #finding the fitness score of initial pop
    
    
    select = fit_score[:2]
    parents = []
    
  
    for i in range(len(select_parents)):
        final_sel_parents.append(ch_dict[select[i][1]])
    child1,child2 = crossover(parents[0],parents[1])
    
 
    child1,child1_mut,child2,child2_mut = mutate(child1,child2)
    child_list = [child1,child1_mut,child2,child2_mut]
    
    
    repop(child_list,ch_dict,fitness_score,ch)
    
    select=[]
    parents=[]
    child_list=[]
    fit_score=[]
    
    
    total_gen-=1

In [ ]:
for i in range(6):
    
    
    fitness(ch[i],model,x_test,y_test)

In [ ]:
fit_score.sort(key=lambda x:x[1],reverse = True)
fit_score[0]

In [ ]:
c=0

for layer in model.layers:
    if c==1:
        bias = layer.get_weights()[1]
        layer.set_weights([chrom_dict['ch6'],bias])
    c+=1

In [ ]:
c=0

print('weights now: ')
for layer in model.layers:
    if c==1:
        print(layer.name)
        print(layer.get_weights())  
    c +=1